*{
  box-sizing: border-box;
}
body{
  background: linear-gradient(45deg, #333, #673ab7);
}
.App{
  margin: 40px auto;
  height: 88vh;
  max-width: 500px;
  background: linear-gradient(45deg, #e0e0e0, #607d8b);
  border-radius: 8px;
  box-shadow: 1px 1px 14px 4px #7e57c2;
  text-align: center;
}
.App form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  opacity: .6;
}
.App form input,
.App form button{
  padding: 16px;
  border-radius: 6px;
  width: 84%;
  border: transparent;
  font-size: 20px;
  background-color: #f5f5f5;
  color:#333;
  outline: none;
}
.App form button{
  width:15%;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  font-weight: 600;
}
.container{
  opacity: .6;
}
.container .temp,
.container .country-info{
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 70%;
  background-color: #eee;
  margin: 20px auto;
  border-radius: 8px;
  font-size: 40px;
}
.container .country-info{
  display:block;
}


.cold{
  background-image: url('images/cold.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.hot{
  background-image: url('images/hot.png');
  background-repeat: no-repeat;
  background-size: cover;
}